body {
    font-size: 1.13em;
    background-color: #F88379;
}

div#message {
    text-align: center;
    color: #CDE7B0;
}

div#message h1 {
    font-size: 2em;
    color: #5D4E60;
    font-family: 'Cedarville Cursive', cursive;
}

div#message h2 {
    font-size: 1.7em;
    color: #5D4E60;
}

div#message ul {
    list-style-type: none;
    padding-inline-start: 0;
}

div#message ul img {
    vertical-align:middle;
    padding: 0 10px;
}

p#tip {
    font-style: italic;
    font-size: 0.75em;
    color: #034732;
}